.mdc-button__icon{
    color:black;
    transform : scale(1.5);
  }
  .invbord{
    color : gray;
    border-top  : None;
    border-left : None;
    border-right: None;
  }

  .mdc-tab-bar {
    background-color: rgba(32, 26, 26, 0.87);
    
    --mdc-theme-primary: white;
    --mdc-text-transform: yellow;
    --mdc-tab-color-default: green;
    --mdc-tab-text-label-color-default: green;
    --mdc-tab-stacked-height: 100px;
  }
  .mdc-text-field__input{
  background-color:white;
  }

  .container {
  width: 300px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  }
  footer{
    background-color:rgba(32, 26, 26, 0.027);
    width: 100%;
    height: 100px;
    bottom:0;
    left:0;
    position:fixed;
    flex-shrink:0;
    flex-direction:row;
    
  }
  .app{
    min-height:100vh
  }

  .tab-content{
    display:none;
  }
  .cnae{
    display:none;
  }
  .socios{
    display:none;
  }
  .grafico{
    display:none
  }

  @media only screen and (max-width: 767px) {
    .mdc-tab__text-label{
        font-size:12px!important
    }
    .material-icons{
        display:none
    }
    .mdc-tab{
        width:19px
    }
}

th{
  font-size:10px;
}

tbody{
  font-size:12px
}

table{
  margin-bottom:100px!important
}

/*HIGH CHARTS*/

.highcharts-figure, .highcharts-data-table table {
  min-width: 320px; 
  max-width: 660px;
  margin: 1em auto;
}

.highcharts-data-table table {
font-family: Verdana, sans-serif;
border-collapse: collapse;
border: 1px solid #EBEBEB;
margin: 10px auto;
text-align: center;
width: 100%;
max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 0.8em;
  color: #555;
}
.highcharts-data-table th {
font-weight: 100;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
