{%extends 'base.html'%}
{%block title%}Busca_CNPJ{% endblock%}

{%block content%}
<!-- <ul>
    {% for file in datas%}
        <li>{{file}}</li>
    {%endfor%}
</ul> -->
<div class = 'table-responsive'>
<table class="table">
    <thead class= 'table'>
      <tr>
        <th scope="col"></th>
        <th scope="col">CNAE</th>
        <th scope="col">Significado</th>
        
               
      </tr>
    </thead>

    <tbody>
      <!-- <tr>
        <th scope="row">1</th>
        {%for file in datas%}
        <td>{{file}}</td>
        {%endfor%}
      </tr> -->

      <tbody>
          {%for data in datas%}
        <tr>
          <th scope="row"></th>
          {%for file in data%}
          <td>{{data[file]}}</td>
          {%endfor%}
        </tr>
       {%endfor%}
     
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<br>
{%endblock%}
{%block footer%}
<footer>
  <div class="mdc-tab-bar" role="tablist">
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area">
        <div class="mdc-tab-scroller__scroll-content" >
  
          <a href='/cnae' class="mdc-tab " role="tab" aria-selected="true" tabindex="0"  >
  
            <span class="mdc-tab__content" >
              <span class="mdc-tab__icon material-icons" aria-hidden="true"></span>
              <span class="mdc-tab__text-label" ></span>
            </span>
  
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content "></span>
              
            </span>
  
            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href ='' class="mdc-tab " role="tab" aria-selected="true" id = 'teste' tabindex="1"  >
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true"></span>
              <span class="mdc-tab__text-label"></span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content "></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href='/cnaeporuf' class="mdc-tab " role="tab" aria-selected="true" tabindex="2">
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true"></span>
              <span class="mdc-tab__text-label"></span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content "></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href='/cnaebusca' class="mdc-tab " role="tab" aria-selected="true" tabindex="3">
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true"></span>
              <span class="mdc-tab__text-label"></span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content "></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
  
        </div>
      </div>
    </div>
  </div>

  <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
          <div class="mdc-tab-scroller__scroll-content" >

            <a href='/cnpj' class="mdc-tab " role="tab" aria-selected="true" tabindex="0"  >

              <span class="mdc-tab__content" >
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label" >CNPJ</span>
              </span>

              <span class="mdc-tab-indicator ">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                
              </span>

              <span class="mdc-tab__ripple"></span>
            </a>

            <a href ='/cnae' class="mdc-tab " role="tab" aria-selected="true" id = 'teste' tabindex="1"  >
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label">CNAE</span>
              </span>
              <span class="mdc-tab-indicator ">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>

            <a href='/municipio' class="mdc-tab " role="tab" aria-selected="true" tabindex="2">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label">MUNICIPIOS</span>
              </span>
              <span class="mdc-tab-indicator ">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>

            <a href='/socios' class="mdc-tab " role="tab" aria-selected="true" tabindex="3">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label">SÓCIOS</span>
              </span>
              <span class="mdc-tab-indicator ">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>

            <!-- <a href = '/graficos' class="mdc-tab " role="tab" aria-selected="true" tabindex="4">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label">GRÁFICOS</span>
              </span>
              <span class="mdc-tab-indicator ">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a> -->

          </div>
        </div>
      </div>
    </div>
  </footer>
{%endblock%}