{%extends 'base.html'%}
{%block title%}Busca_CNPJ{% endblock%}

{%block content%}

<!--!---------------CNPJ------------------>
<form method='post' class= 'container tab-content' id = 'cnpj'>
  <div class="mb-3">  
    <input type="text" class="form-control invbord"  
    placeholder="Digite o CNPJ" name = 'cnpj' id='cnpj-input'>
  </div>
  <a class="mdc-button"  onclick='searchCnpj();'>
    <i class="material-icons mdc-button__icon dark"  aria-hidden="true">search</i>
  </a>
</form>

<!--!---------------CNAE------------------>

              <!--específico-->
<form method = 'post' class='container tab-content' id='cnae-especifico-form'>
  <div class="mb-3">
      <input type="text" class="form-control invbord" id="exampleFormControlInput1" placeholder="CNAE" name = 'cnae'>
  </div>
  <div class="mb-3">
    <input type="text" class="form-control invbord" id="exampleFormControlInput1"   placeholder="Município" name = 'municipio'>
  </div>
  <select class="form-select invbord" aria-label="Default select example" name = sit_cad>
    <option selected>Situação cadastral</option>
    <option value="ativa">Ativa</option>
    <option value="outros">Inativas</option>
    <option value="todas">Todas</option>
  </select>
  <a class="mdc-button" onclick="showResults()">
    <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
  </a>
</form>

              <!--por setor-->
<form method = 'post' class='container tab-content' id = 'cnae-setor-form'>
  <div class="mb-3">
    <input type="text" class="form-control invbord" id="exampleFormControlInput1" placeholder="Município" name = 'municipio'>
  </div>

  <select class="form-select invbord" aria-label="Default select example" name=sit_cad >
  <option selected>Situação cadastral</option>
  <option value="ativa">Ativa</option>
  <option value="outros">Inativas</option>
  <option value="todas">Todas</option>
  </select>
  <select class="form-select invbord" aria-label="Default select example" name='cod_setor' >
  <option selected>Código do setor</option>
  <option value="A">AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQÜICULTURA</option>
  <option value="B">INDÚSTRIAS EXTRATIVAS</option>
  <option value="C">INDÚSTRIAS DE TRANSFORMAÇÃO</option>
  <option value="D">ELETRICIDADE E GÁS</option>
  <option value="E">ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS E DESCONTAMINAÇÃO</option>
  <option value="F">CONSTRUÇÃO</option>
  <option value="G">COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E MOTOCICLETAS</option>
  <option value="H">TRANSPORTE, ARMAZENAGEM E CORREIO</option>
  <option value="I">ALOJAMENTO E ALIMENTAÇÃO</option>
  <option value="J">INFORMAÇÃO E COMUNICAÇÃO</option>
  <option value="K">ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS RELACIONADOS</option>
  <option value="L">ATIVIDADES IMOBILIÁRIAS</option>
  <option value="M">ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS</option>
  <option value="N">ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMENTARES</option>
  <option value="O">ADMINISTRAÇÃO PÚBLICA, DEFESA E SEGURIDADE SOCIAL</option>
  <option value="P">EDUCAÇÃO</option>
  <option value="Q">SAÚDE HUMANA E SERVIÇOS SOCIAIS</option>
  <option value="R">ARTES, CULTURA, ESPORTE E RECREAÇÃO</option>
  <option value="S">OUTRAS ATIVIDADES DE SERVIÇOS</option>
  <option value="T">SERVIÇOS DOMÉSTICOS</option>
  <option value="U">ORGANISMOS INTERNACIONAIS E OUTRAS INSTITUIÇÕES EXTRATERRITORIAIS</option>
  </select>

  <a class="mdc-button" onclick='showResults()'>
    <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
  </a>
</form>
              <!--por uf-->
<form method = 'POST' class='container tab-content' id='cnae-uf-form'>
  <div class="mb-3">
    <input type="text" class="form-control invbord" id="exampleFormControlInput1" placeholder="CNAE" name = 'cnae'>
  </div>
  <div class="mb-3">
  
  <input type="text" class="form-control invbord" id="exampleFormControlInput1"   placeholder="Estado" name = 'estado'>
  </div>

  <select class="form-select invbord" aria-label="Default select example" name = sit_cad>
  <option selected>Situação cadastral</option>
  <option value="ativa">Ativa</option>
  <option value="outros">Inativas</option>
  <option value="todas">Todas</option>
  </select>
  <a class="mdc-button" onclick='showResults()'>
  <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
  </a>

</form>

              <!--busca-->
<form method = 'post' class='container tab-content' id='cnae-busca-form'>
  <div class='container'>
    <div class="mb-3">
      <input type="text" class="form-control invbord" id="exampleFormControlInput1" placeholder="Atividade Econômica" name = 'ativ_econom'>
    </div>
    <button class="mdc-button">
      <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
    </button>
  </div>
</form>

<!--!------------MUNICÍPIOS-------------->
<form method='post' class='container tab-content' id='municipios'>
  <div class="mb-3">
    <input type="text" class="form-control invbord" id="municipio-input" placeholder="Município" name = 'municipio'>
  </div>   
  <select class="form-select invbord" id='municipio-sit_cad' name = sit_cad>
    <option selected>Situação cadastral</option>
    <option value="ativa">Ativa</option>
    <option value="outros">Inativas</option>
    <option value="todas">Todas</option>
  </select>
  <a class="mdc-button" onclick = 'searchMunicipio()'>
    <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
  </a>
</form>

<!--!------------SÓCIOS------------------>

              <!--cnpj-->
<form method='POST' class='container tab-content' id='socios-cnpj-form'>
  <div class="mb-3">
    <input type="text" class="form-control invbord" id="exampleFormControlInput1" placeholder="Digite o CNPJ" name = 'cnpj'>
  </div>
  <button class="mdc-button">
    <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
  </button>
</form>
              <!--nome-->

<form method='POST' class='container tab-content' id='socios-nome-form'>
  <div class="mb-3">
    <input type="text" class="form-control invbord" id="exampleFormControlInput1" placeholder="Nome do sócio" name = 'nome'>
  </div>
  <button class="mdc-button">
  <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
  </button>
</form>

<!--!----------GRAFICOS---------------->
<!--empresas por setor-->
<form method ='POST' class='container tab-content' id='graficos-empresas-por-setor'>
  <div class='mb-3'>
    <input type="text" class="form-control invbord" id="exampleFormControlInput1" 
    placeholder="Município" name = 'municipio'>
  </div>
<button class="mdc-button">
  <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
</button>
</form>

<!--empresas ativas-->
<form method ='POST' class='container tab-content' id='graficos-empresas-ativas'>  
  <div class='mb-3'>
      <input type="text" class="form-control invbord" id="exampleFormControlInput1" 
      placeholder="Município" name = 'municipio'>
  </div>

  <div class='mb-3'>
      <input type="text" class="form-control invbord" id="exampleFormControlInput1" 
      placeholder="Setor" name = 'setor'>
  </div>
 <button class="mdc-button">
  <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
</button>
</form>

<!--!---------DATATABLE EMPRESAS------------->

<div id='datatable' class = 'tab-content' >
  <div class = 'table-responsive'>
    <table class="table">
        <thead class= 'table'>
          <tr>
            <th scope="col"></th>
            <th scope="col">CNPJ</th>
            <th scope="col">ID</th>
            <th scope="col">Nome empresarial</th>
            <th scope="col">Nome fantasia</th>
            <th scope="col">Situação cadastral</th>
            <th scope="col">Data situação cadastral</th>
            <th scope="col">Motivo cadastral</th>
            <th scope="col">Código natureza jurídica</th>
            <th scope="col">Data início ativ.</th>
            <th scope="col">CNAE fiscal</th>
            <th scope="col">Tipo de logradouro</th>
            <th scope="col">Logradouro</th>
            <th scope="col">Número</th>
            <th scope="col">Complemento</th>
            <th scope="col">Bairro</th>
            <th scope="col">CEP</th>
            <th scope="col">UF</th>
            <th scope="col">Cod_município</th>
            <th scope="col">Município</th>
            <th scope="col">DDD</th>
            <th scope="col">Telefone</th>
            <th scope="col">DDD</th>
            <th scope="col">Telefone</th>
            <th scope="col">DDD</th>
            <th scope="col">Fax</th>
            <th scope="col">E-mail</th>
            <th scope="col">Qualiff. do responsável</th>
            <th scope="col">Capital social</th>
            <th scope="col">Porte</th>
            <th scope="col">Opção pelo simples</th>
            <th scope="col">Data opção pelo simples</th>
            <th scope="col">Data exclusão do simples</th>
            <th scope="col">Opção pelo MEI</th>
            <th scope="col">Situação especial</th>
            <th scope="col">Data da situação especial</th>
          
          </tr>
        </thead>          
          <tbody id='datatable-results'>
              {%for data in datas%}
            <tr>
              <th scope="row"></th>
              {%for file in data%}
              <td>{{data[file]}}</td>
              {%endfor%}
            </tr>
          {%endfor%}
        </tbody>
      </table>
  </div>
</div>


{%endblock%}

{%block footer%}
<footer>
  <!--------------BASE SEM MENU----------->
  <div class="mdc-tab-bar" role="tablist">
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area">
        <div class="mdc-tab-scroller__scroll-content" >
  
          <a href='#' class="mdc-tab base" role="tab" aria-selected="true" tabindex="0"  >
            <span class="mdc-tab__content" >
              <span class="mdc-tab__text-label" ></span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>

            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href ='#' class="mdc-tab base" role="tab" aria-selected="true" id = 'teste' tabindex="1"  >
            <span class="mdc-tab__content">
              
              <span class="mdc-tab__text-label"></span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href='#' class="mdc-tab base" role="tab" aria-selected="true" tabindex="2">
            <span class="mdc-tab__content">
              
              <span class="mdc-tab__text-label"></span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href='#' class="mdc-tab base" role="tab" aria-selected="true" tabindex="3">
            <span class="mdc-tab__content">
              
              <span class="mdc-tab__text-label"></span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
  
        </div>
      </div>
    </div>
  </div>
  <!--------CNAE----------->

  <div class="mdc-tab-bar" role="tablist">
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area">
        <div class="mdc-tab-scroller__scroll-content" >
  
          <a href='#' class="mdc-tab mdc-tab--active cnae" role="tab" 
          aria-selected="true" tabindex="0"  id='cnae-especifico' onclick="changeCnae(event,'cnae-especifico-form')">
  
            <span class="mdc-tab__content" >
              <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
              <span class="mdc-tab__text-label" >ESPECÍFICO</span>
            </span>
  
            <span class="mdc-tab-indicator mdc-tab-indicator--active">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              
            </span>
  
            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href ='#' class="mdc-tab cnae" role="tab" aria-selected="true" 
          id = 'cnae-por-setor' tabindex="1"  onclick = "changeCnae(event,'cnae-setor-form')">
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
              <span class="mdc-tab__text-label">POR SETOR</span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href='#' class="mdc-tab cnae" role="tab" aria-selected="true" tabindex="2"
          id = 'cnae-por-uf' onclick="changeCnae(event,'cnae-uf-form')">
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
              <span class="mdc-tab__text-label">POR UF</span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href='#' class="mdc-tab cnae" role="tab" aria-selected="true" tabindex="3"
          id='cnae-busca' onclick = "changeCnae(event,'cnae-busca-form')">
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
              <span class="mdc-tab__text-label">BUSCA</span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
  
        </div>
      </div>
    </div>
  </div>

  <!-------SOCIOS--------->
  <div class="mdc-tab-bar" role="tablist">
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area">
        <div class="mdc-tab-scroller__scroll-content" >
  
          <a href='#' class="mdc-tab socios" role="tab" aria-selected="true" 
          tabindex="0"  id="socios-cnpj" onclick="changeSocios(event,'socios-cnpj-form')">
  
            <span class="mdc-tab__content" >
              <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
              <span class="mdc-tab__text-label" >CNPJ</span>
            </span>
            <span class="mdc-tab-indicator mdc-tab-indicator--active">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              
            </span>
  
            <span class="mdc-tab__ripple"></span>
          </a>
  
          <a href ='#' class="mdc-tab socios" role="tab" aria-selected="true" id = 'socios-nome'
           tabindex="1"  onclick="changeSocios(event,'socios-nome-form')">
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
              <span class="mdc-tab__text-label">NOME</span>
            </span>
            <span class="mdc-tab-indicator ">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

<!--GRAFICOS-->
<div class="mdc-tab-bar" role="tablist">
  <div class="mdc-tab-scroller">
    <div class="mdc-tab-scroller__scroll-area">
      <div class="mdc-tab-scroller__scroll-content" >

        <a href='#' class="mdc-tab grafico" role="tab" aria-selected="true" tabindex="0"  id ="graficos-setor" onclick="changeChart(event,'graficos-empresas-por-setor')">

          <span class="mdc-tab__content" >
            <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
            <span class="mdc-tab__text-label" >EMPRESAS POR SETOR</span>
          </span>
          <span class="mdc-tab-indicator mdc-tab-indicator--active">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            
          </span>

          <span class="mdc-tab__ripple"></span>
        </a>

        <a href ='#' class="mdc-tab grafico" role="tab" aria-selected="true" id = 'teste' tabindex="1"  id='graficos-ativas' onclick="changeChart(event,'graficos-empresas-ativas')">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
            <span class="mdc-tab__text-label">EMPRESAS ATIVAS POR MUNICÍPIO</span>
          </span>
          <span class="mdc-tab-indicator ">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
          <span class="mdc-tab__ripple"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<!----------MENU BASE-->

  <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
          <div class="mdc-tab-scroller__scroll-content" >

<!--CNPJ-->

            <a href='#' class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0" onclick="changeTabContent(event,'cnpj')" >

              <span class="mdc-tab__content" >
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label" >CNPJ</span>
              </span>

              <span class="mdc-tab-indicator mdc-tab-indicator--active">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                
              </span>

              <span class="mdc-tab__ripple"></span>
            </a>
<!--CNAE-->
            <a href ='#' class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" id = 'teste' tabindex="1"  onclick="changeTabContent(event,'cnae-especifico-form');showCnaeOptions()">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label">CNAE</span>
              </span>
              <span class="mdc-tab-indicator ">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>
<!--MUNICIPIO-->
            <a href='#' class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="2" onclick="changeTabContent(event,'municipios')">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label">MUNICIPIOS</span>
              </span>
              <span class="mdc-tab-indicator ">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>
<!--SOCIOS-->
            <a href='#' class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="3" onclick="changeTabContent(event,'socios-cnpj-form');showSociosOptions()">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label">SÓCIOS</span>
              </span>
              <span class="mdc-tab-indicator ">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>
<!--GRAFICOS-->
            <a href = '#' class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="4" onclick="changeTabContent(event,'graficos-empresas-por-setor');showChartOptions()">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">fiber_manual_record</span>
                <span class="mdc-tab__text-label">GRÁFICOS</span>
              </span>
              <span class="mdc-tab-indicator ">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>

          </div>
        </div>
      </div>
    </div>
    <div>
     
    </div>
  </footer>

  <script>

    function searchCnpj(){
      var cnpj = document.getElementById('cnpj-input').value
      request = new XMLHttpRequest();

      request.open('POST', "{{url_for('cnpj')}}");
      request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      request.onload = function() {
          if (request.status === 200){
            createDataTable()
            showResults()
          }
          else if (request.status !== 200) {
              console.log(request.status)
          }
      };
      var data = JSON.stringify({"cnpj": cnpj });
      console.log(data)
      request.send(data);
      }

      function searchMunicipio(){
      var municipio = document.getElementById('municipio-input').value
      var situacao_cadastral = document.getElementById('municipio-sit_cad').value
      request = new XMLHttpRequest();

      request.open('POST', "{{url_for('municipio')}}");
      request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      request.onload = function() {
          if (request.status === 200){
            createDataTable()
            showResults()
          }
          else if (request.status !== 200) {
              console.log(request.status)
          }
      };
      var data = JSON.stringify({
        "municipio": municipio,
        "situacao_cadastral": situacao_cadastral 
      });
      console.log(data)
      request.send(data);
      }

    </script>
{%endblock%}
